<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="football-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Pinger Premier </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="page-content">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" [sizeMd]="6">
          <div class="animation-content">
            <ng-lottie [options]="options"></ng-lottie>
          </div>
        </ion-col>

        <ion-col size="12" [sizeMd]="6">
          <div class="init-content">
            <strong>Welcome to Pinger Premier!</strong>
            <p>
              See all information about your favorite team, competition, squad
              formation, season and much more.
            </p>
            <ion-button [routerDirection]="'forward'" [routerLink]="['/competition']" color="primary"
              >See competition</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
