.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.init-content {
  text-align: center;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 16px;
}

.animation-content {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
}
